<Texts Type="Other">
	<List>
		<Text Name="LostPart">
			<DisplayName>Vật Bị Lạc</DisplayName>
		</Text>
		<Text Name="SYS_DamageMethod">
			<DisplayName>Phương Pháp Luyện Thể Khi Bị Thương</DisplayName>
		</Text>
		<Text Name="SYS_RebuildMethod">
			<DisplayName>Phương Pháp Tái Tạo</DisplayName>
			<Desc>Tái tạo bộ phận đã mất</Desc>
		</Text>
		<Text Name="SYS_yishan">
			<DisplayName>Linh quang lóe sáng</DisplayName>
			<Desc>Linh quang lóe sáng</Desc>
		</Text>
	</List>
</Texts>

